<div class="jumbotron" style="height: 100%">
    <a href="#/dashboard"><button class="btn-lg btn-success">Dashboard</button></a>
    <a href="#/projects"><button class="btn-lg btn-success">Projects</button></a>
    <a href="#/logout"><button class="btn-lg btn-success">Logout</button></a>
    <a href="#/profile/password"><button class="btn-lg btn-success">Change Password</button></a>
    <h1>Dashboard</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Issue</td>
            <td>Description</td>
            <td>Project</td>
            <td>Due Date</td>
        </tr>
        </thead>
        <tbody ng-repeat="issue in issues">
        <tr>
            <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
            <td>{{issue.Description}}</td>
            <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
            <td>{{issue.DueDate}}</td>
        </tr>
        </tbody>
    </table>

    <div ng-if="isAdmin">
        <a href="#/add-project"><button class="btn btn-lg btn-success">Add New Project</button></a>
        <a href="#/add-issue"><button class="btn btn-lg btn-success">Add New Issue</button></a>
    </div>
</div>