<div class=jumbotron style="height: 1000px">
    <a href="#/dashboard"><button class="btn-lg btn-success">Dashboard</button></a>
    <a href="#/projects"><button class="btn-lg btn-success">Projects</button></a>

    <h2 style="margin-top: 0">Edit Issue</h2>
    <div>
        <form style="width: 48%" class="pull-left">
            <div class="form-group">
                <label for="issue-title">Title</label>
                <input type="text" class="form-control" id="issue-title" placeholder="Issue Title" value="Bad Request has no message describing the problem  " ng-model="issue.Title">
            </div>
            <div class="form-group">
                <label for="issue-assignee">Assignee</label>
                <select class="form-control" id="issue-assignee" ng-model="issue.AssigneeId">
                    <option ng-selected="{{user.value == issue.AssigneeId}}"
                            ng-repeat="user in users"
                            value="{{user.Id}}">
                        {{user.Username}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="issue-priority">Priority</label>
                <select class="form-control"id="issue-priority" ng-model="issue.PriorityId">
                    <option ng-selected="{{priority.value == issue.Priority.Id}}"
                            ng-repeat="priority in priorities"
                            value="{{priority.Id}}">
                        {{priority.Name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="issue-due-date">Due Date</label>
                <input type="date" class="form-control" id="issue-due-date" placeholder="dd/mm/yyyy" ng-model="issue.DueDate">
            </div>
            <div class="form-group">
                <label for="issue-labels">Labels (comma separated)</label>
                <input type="text" class="form-control" id="issue-labels" placeholder="Labels" value="Softuni, software" ng-model="issue.Labels">
                <br>
            </div>
            <div class="form-group">
                <label for="issue-description">Description</label>
                <textarea class="form-control" placeholder="Description" id="issue-description" ng-model="issue.Description"></textarea>
            </div>
            <button type="submit" class="btn btn-success" ng-click="editIssue(issue)">Edit Issue</button>
        </form>
        <form style="width:48%" class="pull-right" ng-if="issue.IsAssignee()">
            <h3>Status transition scheme</h3>
            <ul id="statuses">
                <li><strong>{{issue.Status.Name}}</strong></li>
                <li ng-repeat="status in issue.AvailableStatuses">
                    {{status.Name}} <button class="btn btn-sm btn-info" ng-click="$parent.changeStatus(status.Id)">Transition to status</button>
                </li>
            </ul>
        </form>
    </div>
</div>