<div class=" jumbotron">
    <a href="#/dashboard"><button class="btn-lg btn-success">Dashboard</button></a>
    <a href="#/projects"><button class="btn-lg btn-success">Projects</button></a>
    <a href="#/logout"><button class="btn-lg btn-success">Logout</button></a>

    <div class="modal-body row">
        <div class="col-md-4">
            <form name="changePasswordForm">
                <label for="old-password">Old password</label>
                <input type="password" class="form-control" required="required" ng-model="user.OldPassword" id="old-password"/>
                <br />
                <label for="new-password">New password</label>
                <input type="password" class="form-control" min-length="6" max-length="100" ng-model="user.NewPassword" id="new-password" required="required"/>
                <br />
                <label for="new-password-confirm">Confirm new password</label>
                <input type="password" class="form-control" min-length="6" max-length="100" ng-model="user.ConfirmPassword" id="new-password-confirm" required="required"/>
                <br />
                <button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || user.newPassword !== user.newPasswordConfirm" ng-click="changePassword(user)">
                    Change password
                </button>
            </form>
        </div>
    </div>
</div>